@charset "UTF-8";
/* CSS Document */


.ue{
text-align: center;
max-width: 1920px;
margin: auto;
}

.yokonarabi{
	display: flex;
max-width: 1920px;
	margin: auto;
	text-align: center;
}

.maru{
	padding: 30px;
}

.sita{
	margin: auto;
}


img{
	max-width: 100%;
}
